/* Defining the grid */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
    background-color: rgb(65, 89, 135);
    color: #fafbfc;
    height: 100px;
    width: 100%;
    margin-top: -15px ;
}
.side {
    grid-area: sidebar;
    background-color: #E1D9D1;
    height: calc(90vh);
}

/* .side ul{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.side ul li{
    padding: 5px 10px;
    font-size: 20px;
} */

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
}

.main-nav ul li{
    padding: 0 10px;
    font-size: 20px;
    margin-top: -70px;
}

#todo-head{
    padding: 6px 40px;
    font-size: 35px;
    margin-top: 25px;
}

#nav-content{
    padding: 0 20px;
    font-size: 35px;
    margin-top: 20px;
}

.side ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-end;
}

.side ul li{
    padding: 0 10px;
}

aside ul li{
    margin-left: 30px;
    margin-top: 15px;
}

.wrapper{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "nav"
    "content"
    "sidebar";
    grid-gap: 0;
}

@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 5fr;
      grid-template-areas:
        "nav    nav"
        "sidebar content";
    }
     nav ul {
        flex-direction: column;  
    }
}


/* copy pasta */

body{
    background-color: #FFFFFF;
    font-family: 'Poppins',sans-serif;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    margin-right: 200px;
    /* margin-left: 220px; */
}

.flexbox-container > button{
    width: 24.2%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button-counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 130px;
}

button[type=click].edit{
    width: 100px;
    height: 30px;
    background-image: url(../img/edit.jpg);
    border: 1px solid gray;
}

i{
    width: 100px;
    height: 30px;
    margin-top: 15px;
    text-align: left;
}

button[type=click].delete{
    width: 100px;
    height: 30px;
    background-image: url(../img/delete.jpg);
    border: 1px solid gray;
}


input[type=text],input[type=password],input[type=date],input[type=number],input[type=time],#priority,#priority2{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 7px;
}

button[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: #415987;
    color: white ;
}


#search{
    width: 75%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    padding-left:  55px;
    padding-right: 55px;
    margin-top: 20px;
    border-radius: 50px;
}

#icon{
    position : absolute;
    top: 300px;
    right: 100px;
}

#task-para{
    margin-left: 140px;
    margin-top: 12px;
}



/* Modal Content */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    margin-left: 600px;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Table section */

table{
    border: 1px; 
    width: 100%;
    height: 50px;
    text-align: center;
    margin-left: 23px;
    border-collapse: collapse;
    border: 2px solid #D3D3D3;
    color: #313131;
    padding-left: 55px;
    padding-right: 55px;
    max-width: 800px;
    margin: 0 auto;
    position:  relative;
    z-index: 1;
}

table tr.crossed{
    background-image: linear-gradient(to bottom,  transparent calc(50% - 1px), gray, transparent calc(50% + 1px));
    background-color: rgba(211, 211, 211, 0.5);
}

th{
    border: 1px;
    width: 250px;
    height: 50px;
    color: #313131;
}
td > input[type=checkbox]{
    border: 1px;
    width: 40px;
}
#box{
    text-align: center;
    width: 100px;
}
/* td:hover{
    cursor: pointer;
} */
tr{
    background-color: white;
    border: 1px solid #D3D3D3;
    /* text-align: left; */
    height: 50px;
    color: #313131;
}

th {
    background-color: white;
    color: #313131;
}

#logout{
    height: 30px;
    width: 100px;
    color: white;
}
/* #logout:hover,i:hover,#addTodo:hover{
    cursor: pointer;
} */
#deletePermanent:hover{
    background-color: red;
}

button:hover,a:hover,i:hover,#box{
    cursor: pointer;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 100px; /* Set a default minimum width / old :250px */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}